<h1>List of Reviewers</h1>
<ul>
    <% @users.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
</ul>
<aside class="site-sidebar">
    <%= link_to 'login', login_path %><br>
    <%= link_to 'sign up', new_user_path %><br>
    <%= link_to 'Artists', artists_path %><br>
    <%= link_to 'Songs', songs_path %><br>
    <%= link_to 'Genres', genres_path %><br>
    <%= link_to 'Reviews', reviews_path %><br>
</aside>