<h1>Reviews</h1><br>
<h3><%= link_to @review.song.title, song_path(@review.song) %> by <em><%= @review.song.artist.name %></em>, reviewed by <em><%= @review.user.name %></em></h3>
<p><strong><%= @review.rating %> out of 5!</strong></p>
<p><%= @review.comment %></p>
<br>
<p><%= link_to "Edit!", edit_review_path(@review) %></p>
<p><%= link_to 'Delete..', delete_review_path(@review),
:confirm => 'Are you sure?', :method => :delete %> 
<p><%= link_to "Reviews", reviews_path %></p>
